<header class="header">
   <div class="container">

      <div class="header__info">

         <div class="header__info-logo  logo">
            <a href="#">
               <img src="assets/img/logo.svg" alt="логотип - планета тепла">
            </a>
         </div>

         <div class="header__info-box">

            <div class="header__info-item  header__info-item--decoration">

               <div class="header__info-links">
                  <a class="header__info-link  header__info-link--icon" href="tel:88122403350"><span>8 (812)</span> 240 33 50</a>
                  <a class="header__info-link" href="tel:88129266347"><span>8 (812)</span> 926 63 47</a>
               </div>

               <address class="header__info-top-location">
                  <p>Санкт-Петербург, Ленинский проспект,140 лит.Е (ТЦ «Загородный дом», 1 этаж)</p>
               </address>

            </div>

            <div class="header__info-item">

               <div class="header__info-links">
                  <a class="header__info-link  header__info-link--icon" href="tel:88122403350"><span>8 (812)</span> 240 33 50</a>
                  <a class="header__info-link" href="tel:88129266347"><span>8 (812)</span> 926 63 47</a>
               </div>

               <address class="header__info-top-location">
                  <p>Санкт-Петербург, пр-т Просвещения, 41 ЛИТЕР А, ПОМЕЩЕНИЕ 2-Н</p>
               </address>

            </div>

         </div><!-- header__info-box -->

      </div><!-- header__info -->


      <nav class="header__navigation-nav  nav">

         <ul class="nav__list">

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">О компании</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Расчет стоимости</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Преимущества</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Проекты</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Портфолио</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Схема работы</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Отзывы</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Вопросы и ответы</a>
            </li>

            <li class="nav__list-item">
               <a class="nav__list-link" href="#">Контакты</a>
            </li>

         </ul><!-- nav__list -->

      </nav> 



   </div><!-- container -->
</header><!-- header -->